/* ************************* */

/* EVT 2.0 CUSTOM STYLESHEET */

/* ***************************************************************** */

/*                                                                   */

/* Add here your CSS to customize the style of the elements          */

/* If you'll not see any changes, try adding !important to the rule  */

/*                                                                   */

/* For generic TEI elements, use the tagName as class                */

/* e.g. <del/> => .del{ # your style goes here # }                   */

/*                                                                   */

/* ***************************************************************** */

/* .w[data-rend="red"] {
  color: red !important;
}
.hi[data-rend="red"] {
  color: red !important;
}
.label[data-rend="red"] {
  color: red !important;
}
.add[data-rend="black"]  {
  color: black !important;
}

.lb[data-rend="align-right"], .seg[data-rend="align-right"] {
  text-align: right !important;
}

.term {
	background-color: coral;
}

.figDesc {
	display: block;
	border-left: 5px solid #b30000;
	background-color: #ffe6e6;
	padding: 5px 5px 5px 8px;
	margin-bottom: 3%;
	text-align: justify;
	font-size: 95%;
	font-style: italic;
}

span.analogue span.analogue__text span.quote {
	font-style: italic;
}

span.quote sup.iconbis-evt_quote-left,
span.quote sup.iconbis-evt_quote-right {
	display: none;
} */


.p {
	/* font-family: 'Montserrat', sans-serif; */
	font-family: "Source Serif 4", serif;
	font-optical-sizing: auto;
}

body {
	/* background-color: #cbcec0; */
	font-family: Montserrat, sans-serif;
}

body>header,
body>header i {
	background-color: #cbcec0;
	color: #262c11;
	font-weight: bold;
	padding-left: 5%;
	/* width: 90%;
	left: 5%;
	position:relative; */
}

/* Global menu button colors */
.globalMenu {
	padding-right: 5%;
}

.globalMenu button-switch .buttonSwitch-icon {
	color: #7b7c73;

}

.buttonSwitch-active .icon,
.buttonSwitch:hover .icon {
	color: #262c11 !important;
}

/* Selectors style and bo */
.selector,
span.buttonSwitch {
	padding: 0 10px;
	box-shadow: none;
}


.box .box-menu,
.navBarSliderWrapper {
	background: #f4f4f4;

}



.box .box-body {
	border: 0 !important;
}

/* Semantic colors */
.diplomaticEdition .del {
	background-color: #90cdba;
}

.diplomaticEdition .choice .sic {
	color: #932e20;
}

.diplomaticEdition .add {
	background-color: #c9cbcf;
}

.diplomaticEdition .choice .abbr {
	color: #1f3f7a !important;
	text-decoration: none !important;
}

.diplomaticEdition .choice .orig {
	color: #754909;
}

.diplomaticEdition [data-rend=red] {
	color: #870f22;
}